/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #00ff00;
    background: url('Frogwifhat.png') no-repeat center center fixed;
    background-size: cover;
}

/* Header */
header {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #00ff00;
}

/* Buttons */
button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #000;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00ff00;
    color: #000;
}
